name: Approve-dependency-bump-in-bulk

on:
  schedule:
    - cron: "0 0 */7 * *"
  workflow_dispatch:

jobs:
  approve:
    name: Approve
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        owner: ["IliyanKostov9", "ZProfile"]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Get all repositories with PR for author dependabot and github-actions
        run: |
          owners=( "IliyanKostov9" "ZProfile" )

            for owner in "${owners[@]}"
              do
                mapfile -t owner_and_repositories < <(gh repo list $owner --source | awk '{print $1}')
                for owner_and_repo in "${owner_and_repositories[@]}"
                  do
                    pull_requests=$(gh pr list --repo "$owner_and_repo" --app dependabot)
                    pull_requests+=$(gh pr list --repo "$owner_and_repo" --app github-actions)

                    if [ -n "$pull_requests" ]; then
                      echo "Found pull requests for the following repository: $owner_and_repo"

                      mapfile -t pr_numbers < <(echo "$pull_requests" | awk '{print $1}')
                      for pr_number in "${pr_numbers[@]}"
                        do
                          gh pr merge $pr_number --repo "$owner_and_repo" --admin --subject "Landing zone auto merge" --body "Merge performed" --delete-branch --squash
                          echo ">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>"
                          echo "PR number: $pr_number merged for: $owner_and_repo"
                          echo ">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>"
                        done
                      fi
                  done
              done
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
