name: Flake ❄️ Tests

on:
  schedule:
    - cron: "0 0 */14 * *"
  workflow_dispatch:

jobs:
  flake:
    permissions:
      contents: write
      pull-requests: write

    name: Flake ❄️ Checker ✅
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: DeterminateSystems/nix-installer-action@v21
      - uses: cachix/cachix-action@v16
        with:
          name: repo-landing-zone
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - uses: DeterminateSystems/flake-checker-action@v12

      - uses: cachix/cachix-action@v16
        with:
          name: repo-landing-zone
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - uses: DeterminateSystems/update-flake-lock@v28
        with:
          pr-title: "chore: update flake.lock"
          pr-labels: |
            dependencies
            automated
