---
name: Repos sync
on:
  push:
    branches:
      - master
    paths:
      - .github/workflows/repo-sync.yaml
      - shells/github_secrets.sh
      - config/repositories.yaml

  workflow_dispatch:

jobs:
  secret-sync:
    name: Synchronize secrets
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Sync secrets
        run: |
          echo "Setting up yq"
          sudo snap install yq --channel=v4/stable
          chmod +x shells/github_secrets.sh
          shells/github_secrets.sh \
            "GITGUARDIAN_API_KEY=${{ secrets.GITGUARDIAN_API_KEY }}" \
            "GIT_PASSWORD=${{ secrets.GIT_PASSWORD }}" \
            "GIT_USERNAME=${{ secrets.GIT_USERNAME }}" \
            "GIT_AUTO_MERGE=${{ secrets.GIT_AUTO_MERGE }}" \
            "SONAR_TOKEN=${{ secrets.SONAR_TOKEN }}" \
            "TF_API_TOKEN=${{ secrets.TF_API_TOKEN }}" \
            "TF_ORG=${{ secrets.TF_ORG }}" \
            "CACHIX_AUTH_TOKEN=${{ secrets.CACHIX_AUTH_TOKEN }}" \
            "PORTFOLIO_S3_AWS_KEY_ID=${{ secrets.PORTFOLIO_S3_AWS_KEY_ID }}" \
            "PORTFOLIO_S3_AWS_SECRET_ACCESS_KEY=${{ secrets.PORTFOLIO_S3_AWS_SECRET_ACCESS_KEY }}" \
            "PORTFOLIO_S3_AWS_BUCKET=${{ secrets.PORTFOLIO_S3_AWS_BUCKET }}"

        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
